
<div class="header p-2 h-4rem flex align-items-center bg-white">
    <div class="header-left w-18rem">
        <img src="assets/images/image.png" alt="Logo" />
    </div>
    <div class="header-right flex justify-content-between align-items-center w-full">
        <div class="icon-bg w-2rem h-2rem border-circle  flex justify-content-center align-items-center">
            <i class="pi pi-bars text-lg"></i>
        </div>
     <div class=" ">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search" />
        </p-iconField>
     </div>
    </div>
</div>

 