<div class="header flex flex-column lg:flex-row align-items-center bg-white shadow-1 w-full h-4rem">

    <div class="header-left p-3 lg:px-3 lg:w-18rem w-full flex-shrink-0 flex align-items-center justify-content-between">
        <button class="icon-bg w-2rem h-2rem block lg:hidden border-circle flex justify-content-center align-items-center">
            <i class="pi pi-bars text-lg"></i>
        </button>
        <img src="assets/images/image.png" alt="Logo" />
        <div class="flex gap-2 align-items-center block lg:hidden">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            <!-- <div class="flex flex-column hidden ">
                <span class="font-medium text-sm">Peter Taylor</span>
                <p class="text-xs m-0">Webmaster</p>
            </div> -->
        </div>
    </div>
 
    <div class="header-right lg:flex block justify-content-between align-items-center flex-grow-1 w-full pr-3 lg:pr-5">
      
        <div class="icon-bg w-2rem h-2rem border-circle hidden lg:flex justify-content-center align-items-center">
            <i class="pi pi-bars text-lg"></i>
        </div>
    
        <div class="flex align-items-center justify-content-between gap-4">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search text-sm"></i>
                </p-inputIcon>
                <input type="text" pInputText placeholder="Search.." class="hidden lg:block border-none border-round-3xl text-sm" />
            </p-iconField>
            <app-overlaypanel></app-overlaypanel>
            <app-overlaypanelmessages></app-overlaypanelmessages>
            <app-settings></app-settings>
            <div>
                <i class="pi pi-cog text-md"></i>
            </div>
          
            <div class="lg:flex gap-2 align-items-center hidden ">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                <div class="flex flex-column">
                    <span class="font-medium text-sm">Peter Taylor</span>
                    <p class="text-xs m-0">Webmaster</p>
                </div>
            </div>
            <div class="icon-bg w-2rem h-2rem border-circle flex justify-content-center align-items-center">
                <i class="pi pi-arrow-left text-lg"></i>
            </div>
        </div>
      
    </div>
</div>
