.p-button {
    background-color: transparent;
    color:black;
    border:none;
    padding: 0.625rem;
    outline: none;
}
 .p-ripple{
    overflow: visible;
}
.p-overlaypanel , .p-overlaypanel-content {
    padding: 0;
}
.overlay-card{
    background-color: #e8f1f8b3;
}
.p-badge{
    border-radius: 12px;
}
.notifications{
    ul li{
        :hover{
            background-color: #e8f1f8;
        }
    }
}