$primary-color: #3498db;
$secondary-color: #2ecc71;
$icon-bg-color: #E8F1F8;
$default-padding: 1rem;
$rightpaneltext:#495057;
$main-bg:#eaf2f9;
$breadcrumb-text:#6c757d;
$arrow-bordercolor:#9e9e9e;
$arrow-bg:#949aa61a;
$current-week-text:#2f8ee5;
$facebookbg:#1763a7;
$progres-ssuccess:#00bcd4;
