@import '../../../styles/mixins';
@import '../../../styles/variables';

.p-breadcrumb{
   @include padding(1rem,2rem,1rem,2rem);
   background-color: transparent;
   border:none;
   .p-breadcrumb-list{
font-size: 0.8rem;
.p-menuitem-text{
   color:$breadcrumb-text;
}

   }
   .p-icon{
      @include width-height(0.8rem,0.8rem);
   }
   
}
.arrow{
   @include width-height(20px,20px);
   border-color: $arrow-bordercolor;
   background-color: $arrow-bg;
   color:$arrow-bordercolor;
}
.overview-card {
   .tooltip-wrapper {
      position: relative;
   }:hover span{
      display: block;
     } 
 span {
      font-size: 12px;
      min-width: 6px;
      position: absolute;
      padding: 1px;
      border-radius: 2px;
      background-color: var(--content-alt-bg-color);
      top: -22px;
      left: -4px;
      display: none;
      z-index: 2;
      
  }

}
.primary700{
   background-color: $facebookbg ;
   }