<div class="footer flex flex-column lg:flex-row align-items-center bg-white shadow-1 h-4rem justify-content-between align-items-center ng-deep">
    <div class="footer-left p-3 lg:px-3 lg:w-18rem w-full flex-shrink-0 flex align-items-center justify-content-between">
        <button class="icon-bg w-2rem h-2rem block lg:hidden border-circle flex justify-content-center align-items-center">
            <i class="pi pi-bars text-lg"></i>
        </button>
        <img src="assets/images/image.png" alt="Logo" />
        <div class="flex gap-2 align-items-center block lg:hidden">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            <!-- <div class="flex flex-column hidden ">
                <span class="font-medium text-sm">Peter Taylor</span>
                <p class="text-xs m-0">Webmaster</p>
            </div> -->
        </div>
    </div>
 <div class="footer-right flex justify-content-center gap-3 overflow-hidden p-3 align-items-center">
    <p-button icon="pi pi-github" [rounded]="true" severity="success" [outlined]="true" class="p-button" />
    <p-button icon="pi pi-facebook" [rounded]="true" severity="success" [outlined]="true"  class="p-button"/>
    <p-button icon="pi pi-twitter" [rounded]="true" severity="success" [outlined]="true" class="p-button" />
 </div>
   
</div>

