.ng-deep {
    ::ng-deep {
      
      .p-button {
        padding: 0.25rem;
        height: auto;
        width: auto;
      }
    }
  }

  // .footer-data{
  //   width: calc(100% - 18rem);
  // }fixed bottom-0