<div class=" flex justify-content-center  border-round">
    <p-button (onClick)="op.toggle($event)">
        <div class="">
            <i class="pi pi-cog text-md border-none"></i>
        </div>
    </p-button>
    <p-overlayPanel #op class="p-0!important">
        <div class="notifications flex flex-column gap-3 w-18rem">
            <ul class=" list-none p-0 m-0">
                <li class="flex justify-content-between align-items-center px-3 p-3 mb-3 cursor-pointer">
                    <h6 class="m-0 font-semibold text-sm">Settings</h6>
                </li>
                <li class="">
                    <a class="py-2 px-3 flex gap-2 cursor-pointer align-items-center">
                        <div
                            class="flex align-items-center justify-content-center border-1 border-circle border-transparent bg-blue-100 text-500 p-2">
                            <i class="pi pi-user text-lg text-blue-500"></i>
                        </div>
                        <div>
                            <h6 class="text-sm m-0 font-semibold"> Account Info  </h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="py-2 px-3 flex gap-2 cursor-pointer  align-items-center">
                        <div
                            class="flex align-items-center justify-content-center border-1 border-circle border-transparent bg-cyan-100 text-500 p-2">
                            <i class="pi pi-users text-lg text-cyan-500"></i></div>
                        <div>
                            <h6 class="text-sm m-0 font-semibold">  Global Accounts  </h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="py-2 px-3 flex gap-2 cursor-pointer  align-items-center">
                        <div
                            class="flex align-items-center justify-content-center border-1 border-circle border-transparent bg-pink-100 text-500 p-2">
                            <i class="pi pi-bell text-lg text-pink-500"></i>
                        </div>
                        <div>
                            <h6 class="text-sm m-0 font-semibold">  Notification Preferences  </h6>
                        </div>
                    </a>
                </li>
                <li class="pb-3">
                    <a class="py-2 px-3 flex gap-2 cursor-pointer align-items-center">
                        <div
                            class="flex align-items-center justify-content-center border-1 border-circle border-transparent bg-blue-100 text-500 p-2">
                            <i class="pi pi-lock text-lg text-blue-500"></i>
                        </div>
                        <div>
                            <h6 class="text-sm m-0 font-semibold">  Login Settings  </h6>
                           
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </p-overlayPanel>
</div>
