@import '../../../styles/mixins';
@import '../../../styles/variables';

 .ng-deep {
    ::ng-deep {
        .p-breadcrumb{
            @include padding(1rem,2rem,1rem,2rem);
            background-color: transparent;
            border:none;
            .p-breadcrumb-list{
         font-size: 0.7rem;
         .p-menuitem-text{
            color:$breadcrumb-text;
         }
            }
            .p-icon{
               @include width-height(0.8rem,0.8rem);
            }
            
         }
       .p-dropdown{
width: 100%;
       }
       .p-button{
         background-color: #1B74C5;
         color:white;
         font-size:0.8rem;
       }
       .p-inputtext{
         padding: 0.5rem;
       
       }
       .p-placeholder{
         font-size: 0.8rem;
      }
    }
  }