@import '../../../styles/mixins';
@import '../../../styles/variables';






 .ng-deep {
    ::ng-deep {
        .p-breadcrumb{
            @include padding(1rem,2rem,1rem,2rem);
            background-color: transparent;
            border:none;
            .p-breadcrumb-list{
         font-size: 0.7rem;
         .p-menuitem-text{
            color:$breadcrumb-text;
         }
            }
            .p-icon{
               @include width-height(0.8rem,0.8rem);
            }
            
         }
    }
  }